Series

In [2]:
 series = {
   'index': [0,1,2,3],
   'data': [145,142,38,13],
   'name':'songs'
   }

In [3]:
def get (series,idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

In [4]:
get(series,0)

145

In [5]:
songs = {
    'index':['Paul','John','George','Ringo'],
    'data':[145,142,38,13],
    'name':'counts'
}

In [6]:
get(songs,'Paul')

145

In [7]:
import pandas as pd
songs2 = pd.Series([145,142,38,13],name='counts')

In [8]:
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [9]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
songs3 = pd.Series([145,142,38,13],
                    name='counts',
                     index=['Paul','John','George','Ringo'])

In [11]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [12]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

The NaN Value

In [13]:
import numpy as np
nan_series = pd.Series([2,np.nan],
                       index=['Ono','Clapton'])

In [14]:
nan_series

Ono        2.0
Clapton    NaN
dtype: float64

In [15]:
nan_series.count()

1

In [16]:
nan_series.size

2

In [17]:
songs3.mean()

84.5

In [18]:
mask = songs3 > songs3.mean()
mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [19]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

categorical data

In [20]:
s = pd.Series(['m','l','xs','s','xl'], dtype='category')
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [21]:
s.cat.ordered

False

In [22]:
s.cat.reorder_categories(['xs','s','m','l','xl'],ordered=True)

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

Exercices

In [23]:
temp_lastweek = pd.Series([7,-2,4,6,7,5,4],
                          name='Temperature',
                          index=['Monday','Tuesday','Wednesday','Thurday','Friday','Saturday','Sunday'])

In [24]:
temp_lastweek

Monday       7
Tuesday     -2
Wednesday    4
Thurday      6
Friday       7
Saturday     5
Sunday       4
Name: Temperature, dtype: int64

In [25]:
Avg_temp_lastweek = temp_lastweek.mean()
Avg_temp_lastweek

4.428571428571429

In [26]:
Temp_above_weekavg =temp_lastweek > Avg_temp_lastweek
Temp_above_weekavg

Monday        True
Tuesday      False
Wednesday    False
Thurday       True
Friday        True
Saturday      True
Sunday       False
Name: Temperature, dtype: bool

In [27]:
temp_lastweek[Temp_above_weekavg]

Monday      7
Thurday     6
Friday      7
Saturday    5
Name: Temperature, dtype: int64

Series Deep Dive

In [28]:
df = pd.read_csv('vehicles.csv')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_19992\2237580194.py:1: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('vehicles.csv')

In [29]:
city_mpg = df.city08

In [30]:
highway_mpg =df.highway08

In [31]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [32]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
41139    26
41140    28
41141    24
41142    24
41143    21
Name: highway08, Length: 41144, dtype: int64

Operators and Dunder Methods

In [33]:
 (2).__add__(4)

6

In [34]:
city_mpg.quantile([.1,.8,.9])

0.1    13.0
0.8    21.0
0.9    24.0
Name: city08, dtype: float64

In [35]:
city_mpg.gt(20).sum()

10272

In [37]:
city_mpg.agg(['mean', max ,min ])

C:\Users\lenovo\AppData\Local\Temp\ipykernel_19992\1118772828.py:1: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  city_mpg.agg(['mean', max ,min ])
C:\Users\lenovo\AppData\Local\Temp\ipykernel_19992\1118772828.py:1: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  city_mpg.agg(['mean', max ,min ])

mean     18.369045
max     150.000000
min       6.000000
Name: city08, dtype: float64