Series

In [1]:
 series = {
   'index': [0,1,2,3],
   'data': [145,142,38,13],
   'name':'songs'
   }

In [16]:
def get (series,idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

In [17]:
get(series,0)

145

In [19]:
songs = {
    'index':['Paul','John','George','Ringo'],
    'data':[145,142,38,13],
    'name':'counts'
}

In [22]:
get(songs,'Paul')

145

In [25]:
import pandas as pd
songs2 = pd.Series([145,142,38,13],name='counts')

In [26]:
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [27]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [32]:
songs3 = pd.Series([145,142,38,13],
                    name='counts',
                     index=['Paul','John','George','Ringo'])

In [33]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [34]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

The NaN Value

In [41]:
import numpy as np
nan_series = pd.Series([2,np.nan],
                       index=['Ono','Clapton'])

In [42]:
nan_series

Ono        2.0
Clapton    NaN
dtype: float64

In [43]:
nan_series.count()

1

In [44]:
nan_series.size

2